<p style="color: green"><%= notice %></p>

<div class="photosHead">
    <h1>Photos</h1>
    <%= link_to "New photo", new_photo_path, class: "btn btn-primary" %>
</div>

<div class="photos container">
    <div class="row">
        <% @photos.each do |photo| %>
            <div class="col-md-4 galleryImg">
                <%= image_tag photo.image, class: "photoImg" %>
                <%= photo.alttext %><br>
                <%= photo.location %>
                <p>
                <%= link_to "Show this photo", photo %>
                </p>
            </div>
        <% end %>
    </div>
</div>
