<p style="color: green"><%= notice %></p>

<div class="galleryImg">
    <div class="photoPost">
        <%= render @photo %>
    </div>
</div>

<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |
  <%= link_to "Back to photos", photos_path %>

  <%= button_to "Delete this photo", @photo, method: :delete %>
</div>
